.app_body {
    display: flex;
    height: 100vh;
    width: 100vw;
  }
  
  @media (max-width: 600px) {
    .app_body {
      flex-direction: column;
    }
  
    .app_body > .Chat {
      display: none;
    }
  
    .app_body > .SideBar {
      flex: 1; /* Make the sidebar take up all available space */
    }
  }
  